{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav aria-label="{{ 'Pagination'|t }}" class="usa-pagination">
    <ul class="usa-pagination__list js-pager__items">
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ items.first.href }}" class="usa-pagination__link usa-pagination__previous-page" aria-label="{{ 'First page'|t }}" {{ items.first.attributes|without('href', 'title') }}>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ uswds_images }}sprite.svg#navigate_before"></use>
            </svg>
            <span class="usa-pagination__link-text"> {{' First'|t }} </span>
          </a>
        </li>
      {% endif %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ items.previous.href }}" class="usa-pagination__link usa-pagination__previous-page" aria-label="{{ 'Previous page'|t }}" {{ items.previous.attributes|without('href', 'title') }}>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ uswds_images }}sprite.svg#navigate_before"></use>
            </svg>
            <span class="usa-pagination__link-text"> {{' Previous'|t }} </span>
          </a>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="usa-pagination__item usa-pagination__overflow" role="presentation">
          <span> … </span>
        </li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {% if current == key %}
            {% do item.attributes.addClass('usa-current') %}
            {% do item.attributes.setAttribute('aria-current', 'page') %}
          {% endif %}
          <a href="{{ item.href }}" aria-label="{{ 'Page @key'|t({'@key': key}) }}"{{ item.attributes.addClass('usa-pagination__button')|without('href', 'title') }}>{{ key }}</a>
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="usa-pagination__item usa-pagination__overflow" role="presentation">
          <span> … </span>
        </li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ items.next.href }}" class="usa-pagination__link usa-pagination__next-page" aria-label="{{ 'Next page'|t }}" {{ items.next.attributes|without('href', 'title') }}>
            <span class="usa-pagination__link-text"> {{ 'Next'|t }} </span>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ uswds_images }}sprite.svg#navigate_next"></use>
            </svg>
          </a>
        </li>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ items.last.href }}" class="usa-pagination__link usa-pagination__next-page" aria-label="{{ 'Last page'|t }}" {{ items.last.attributes|without('href', 'title') }}>
            <span class="usa-pagination__link-text"> {{ 'Last'|t }} </span>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ uswds_images }}sprite.svg#navigate_next"></use>
            </svg>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
